<p id="notice"><%= notice %></p>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://png.pngtree.com/thumb_back/fh260/back_pic/03/57/51/6457a0b15da95e7.jpg');">
  <div class="banner-content">
    <h1>Cocktails</h1>
    <p>Explore our finest selection of drinks below!</p>
    <div class="btn-view-container">
      <div class="btn-view">
        <a href="#main" id="view">View Collection</a>
      </div>
    </div>
  </div>
</div>

<div class="main" id="main">
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-sm-4">
          <div class="card-container">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cocktail.photo %>); background-size: cover;">
              <%= link_to cocktail.name, cocktail , { :class=>"card-link" } %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>

<div class="btn-new-container">
  <div class="btn-new">
    <%= link_to 'Create a new cocktail!', new_cocktail_path %>
  </div>
</div>

<div>&nbsp;</div>
