<p id="notice"><%= notice %></p>

<div class="banner">
  <div class="banner-content">
    <h1>Cocktails</h1>
  </div>
</div>

<div class="main">
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://liquor.s3.amazonaws.com/wp-content/uploads/2015/03/hub_spirited_cocktail_gin.jpg'); background-size: cover;">
          <%= link_to cocktail.name, cocktail , { :class=>"card-link" } %>
        </div>
      </div>
      <% end %>
  </div>
</div>


<div>&nbsp;</div>

<div class="btn">
  <button type="button" class="btn btn-primary"><%= link_to 'Create a new cocktail!', new_cocktail_path %></button>
</div>
