<div>&nbsp;</div>

<div style="border-radius: 5px">
  <%= cl_image_tag @cocktail.photo, height: 400, width: 400, crop: :fill %>
</div>

<div>&nbsp;</div>

<div>
  <h1><%= @cocktail.name %></strong></h1>
</div>

<div>&nbsp;</div>

<%= link_to 'Delete this cocktail', cocktail_path, method: :delete %><br>
<%= link_to 'Back to cocktails', cocktails_path %>

<div>&nbsp;</div>
