// Specific CSS for your home-page
// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: whitesmoke;
  text-align: center;
}

a {
  text-decoration: none;
}

.main {
  text-align: center;
  margin: auto;
  padding-top: 30px;
}

.btn {
  a {
    font-size: 30px;
    padding: 10px;
    color: whitesmoke;
    background-color: blue;
    font-weight: 400;
    border-radius: 7px;
    transition-property: padding;
    transition-duration: 0.5s;
  }
  a:hover {
    font-weight: bold;
    padding: 12px;
    text-decoration: none;
  }
}

.drink {
  border-radius: 10px;
}

.footer {
  padding: 30px;
  background-color: rgba(155,155,155, 0.2)
}
