// Specific CSS for your home-page
// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: whitesmoke;
  text-align: center;
}

a {
  text-decoration: none;
}

.main {
  text-align: center;
  margin: auto;
  padding-top: 30px;
}

.card {
  height: 200px;
  text-shadow: 0 10px 10px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 40px;
  box-shadow: 2px 10px 10px rgba(0,0,0,0.6);
  border-radius: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-link {
  padding-top: 60px;
  padding-bottom: 60px;
  .card-link a {
    text-decoration: none;
    color: red;
    font-size: 30em;
    position: absolute;
    background: black;
    opacity: 0;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  }
  .card-link a:hover {
    text-decoration:none;
    color: blue;
    opacity: 0.1;
    font-weight: bold;
  }
}

.btn {
  a {
    font-size: 30px;
    padding: 10px;
    color: whitesmoke;
    background-color: blue;
    font-weight: 400;
    border-radius: 7px;
    transition-property: padding;
    transition-duration: 0.5s;
  }
  a:hover {
    font-weight: bold;
    padding: 12px;
    text-decoration: none;
  }
}

.drink {
  border-radius: 10px;
}
