.form-background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  height: 80vh;
  width: 45vw;
  background-color: rgba(255,255,255,0.85);
  padding: 30px 30px;
  border-radius: 10px;
  margin: 30px auto;
  h1 {
    font-size: 2em;
    margin: 5px auto;
  }
  hr {
    width: 85%;
  }
}

.title {
  width: 100%;
}

.form {
  text-align: left;
  margin: auto;
  width: 35vw;
  hr {
    width: 100%;
  }
}
